html body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFF;
}

* { margin: 0; padding: 0; border: 0; }

header {
  display: block;
  height: 100px;
  /*background:url(../images/top-image4.jpg) no-repeat;*/
  /*background-size: cover;*/
}

.dota2logo {
  background:url(../images/dota2logo.jpg) no-repeat;
  height: 110px;
  width: 110px;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
-webkit-animation: floatBubble 0.7s infinite;
    -webkit-animation-direction:alternate;
  }


@-webkit-keyframes floatBubble{
 from{
        top:0;
        -webkit-animation-timing-function: ease-in;

   }


   to {
      top: 10px;
      -webkit-animation-timing-function: ease-out;
   }

}
}

.top-info {
  vertical-align: middle;
}

p.title {
  font-family: 'Lustria', serif;
  font-size: 50px;
  color: #FA3434;
  text-align: center;
}

p.description {
  text-align: center;
  font-size: 12px;
}

.hero-name, .item-name {
  width: 80%;
  text-align: center;
  margin: 10px auto 10px;
  padding: 10px 0 10px;
}

#button-container {
  padding-top: 2%;
  margin: auto;
  text-align: center;
}

#refreshHero, #refreshItem {
  height: 30px;
  width: 100px;
  margin: 5px;
  background-color: #EEE;
  border-bottom: 2px solid #B2B1B1;
}

#refreshHero:hover, #refreshItem:hover {
  border: none;
}