html body {
    font-family: 'Oswald', sans-serif;
    background-color: #e5e5e5;
}

* { margin: 0; padding: 0; border: 0; }

header {
  display: block;
}

header h1 {
  background-color: #1a1a1a;
  color: #999999;
}

.hero-name, .item-name {
    width: 80%;
    text-align: center;
    margin: 10px auto 10px;
    padding: 10px 0 10px;
    background-color: #d25858
}

#button-container {
    top: 600px;
    margin: auto;
    text-align: center;
}

#refreshHero, #refreshItem {
  height: 50px;
  width: 100px;
  margin: 5px;
  border: 1px solid #1a1a1a;
}