
body, html {
  background: #666;
  font-family: Arial, Calibri, sans-serif;
  font-weight: 400;
  color: #000;
}

* { margin: 0; padding: 0; border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

::selection { color: #FFF; background: #666; }

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
p  { font-size: 1em; }

a { color: #FFF; text-decoration: underline; }
a:hover { color: #000; }

.clear-fix {
  clear:both;
}

#hero-name {
    width: 1200px;
    text-align: center;
    margin: auto;
}

.item-name {
    height: 500px;
    width: 500px;
    float: left;
}

footer {
  height: auto;
  overflow: hidden;
}


